{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/footer.html.twig' %}
    <div class="teacher-login-view">
        <div class="teacher-password-recovery">
            <div class="teacher-login-heading">
                <img class="mb-2" src="{{ asset('build/images/mpw.svg') }}"/>
                <h1>{{ 'teacher.recovery.title' | trans }}</h1>
            </div>

            {% include 'teacher/components/flashes.html.twig' %}

            {% if sent == false %}
                <div class="box mb-8">
                    {{ form_start(form) }}

                    <div class="mb-2">
                        {{ form_label(form.email) }}
                        <div class="error">
                            {{ form_errors(form.email) }}
                        </div>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="text-right">
                        <button class="button" type="submit">{{ 'teacher.recovery.submit' | trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}

            <div class="text-center">
                <a href="{{ path('teacher_main') }}">{{ 'teacher.create.back' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
